.btn {
  background-color: var(--primary-color);
  color: var(--color-card-bg);
  border: none;
  padding: 0.6rem 1.2rem;
  // radius: $radius;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-secondary);
  }
}

.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--color-card-bg);
  }
}
