@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.admin-users-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
//   background: $white-color;
  padding: 1rem;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;

   .admin-search {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: $radius-sm;
    border: 1px solid $color-border;
    font-size: 0.9rem;
    @include transition(0.2s);

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  .user-card {
    background: $background-light;
    padding: 0.8rem 1rem;
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .user-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include respond(tablet) {
            flex-direction: row;
            align-items: flex-start;
            }
    
        
        .user-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.2rem;

        .user-name {
            color: $color-text;
        }
        .user-direction {
            color: $color-text;
        }
        .user-contact {
            color: $color-text;
        }

        span {
            width: 100px;
            font-size: 0.9rem;
            color: $color-text;
        }
            span {
            padding:0.5rem;
            font-size: 0.9rem;
            color: $color-text;
        }
        }
        .actions {
        align-self: flex-end;
        display: flex;
        padding: 0.5rem;
        gap: 1.5rem;


        button {
            @include button-base($primary-color, $white-color);
            font-size: 0.8rem;

            &.delete {
            @include button-base($danger-color);
            }
        }
        }
    }
  }
}
