@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.admin-users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: $white-color;
  padding: 1rem;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;

  h2 {
    font-size: 1.3rem;
    color: $primary-color;
    margin-bottom: 0.5rem;
  }

  .user-card {
    background: $background-light;
    padding: 0.8rem;
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    p {
      font-size: 0.9rem;
      color: $color-text-secondary;
    }

    input {
      padding: 0.4rem;
      border: 1px solid $color-border;
      border-radius: $radius-sm;
      width: 100%;
      font-size: 0.9rem;
    }

    .actions {
      display: flex;
      gap: 0.5rem;

      button {
        @include button-base($primary-color, $white-color);
        font-size: 0.8rem;

        &.delete {
          @include button-base($danger-color);
        }
      }
    }
  }
}
