@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.admin-bookings-wrapper {
  width: 90%;
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;



  .admin-search {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: $radius-sm;
    border: 1px solid $color-border;
    font-size: 0.9rem;
    @include transition(0.2s);

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }
}

.admin-bookings {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  .admin-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white-color;
    border-radius: $radius-sm;
    padding: 0.8rem 1rem;
    box-shadow: $shadow-sm;
    flex-wrap: wrap;
    gap: 0.5rem;
    @include transition(0.2s);

    // &:hover {
    //   transform: translateY(-2px);
    //   box-shadow: $shadow-md;
    // }

    .booking-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.4rem;

    }

    .actions {
      display: flex;
      gap: 0.5rem;

      button {
        @include button-base($primary-color, $white-color);
        border-radius: $radius-sm;
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;

        &.delete {
          @include button-base($danger-color, $white-color);
        }
        &.edit {
          @include button-base($secondary-color, $white-color);
        }
        &.save {
          @include button-base($color-success, $white-color);
        }
      }
    }

    input,
    select {
      padding: 0.3rem 0.5rem;
      border-radius: $radius-sm;
      border: 1px solid $color-border;
      font-size: 0.9rem;
    }
  }

  @include respond(tablet) {
    .admin-booking .booking-info span {
      width: 120px;
      font-size: 1rem;
    }
  }
}
