//src/styles/components/BillingChart.scss

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.billing-chart-wrapper {
  margin-top: 1.5rem;
  padding: 1rem;
  background: $white-color;
  border: 1px solid $color-border;
  border-radius: $radius-sm;
  transition: opacity 0.2s ease-in-out;
  //box-shadow: $shadow-sm;

  @include respond(tablet) {
    padding: 1.5rem;
  }

  @include respond(desktop) {
    padding: 2rem;
  }
}

.billing-chart {
//   width: 100%;
//   height: 100%;

  .recharts-tooltip-container {
    font-size: 0.85rem;
    transition: opacity 0.2s ease-in-out;
  }
    .recharts-legend-item-text {
    fill: $color-text;
  }

  .recharts-cartesian-grid line {
    stroke: $color-border;
  }

  .recharts-x-axis text,
  .recharts-y-axis text {
    fill: $color-text;
  }
}
