@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.header {
      width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;

    // En pantallas grandes: logo y usuario en fila
  @include respond(tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-box {
    display: none; //Oculto en móvil

    @include respond(tablet) {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }

    .logo-svg {
      color: $primary-color;
      width: 40px;
      height: 40px;
    }

    .home-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: $primary-color;
    }
  }
    .user-header {
        width:80%;
        justify-content: space-between;
        display: flex;
        flex-direction: row; //Fila en móvil
        align-items: center;
        gap: 0.8rem;
    
        @include respond(tablet) {
        width: auto; 
        flex-direction: column; //Columna en escritorio
        justify-content: space-around;
        align-items: center;
        gap: 0.6rem;
        }
        .user-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: $color-text-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: $shadow-sm;
        transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        .user-actions {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .btn-small {
                padding: 0.4rem 0.8rem;
                border: none;
                border-radius: $radius-sm;
                background-color: $primary-color;
                color: #fff;
                cursor: pointer;
                font-size: 0.8rem;
                font-weight: 500;
                @include transition(0.2s);

                &:hover {
                opacity: 0.8;
                }

                &.logout {
                background-color: $danger-color;
                }
                &.admin {
                background-color: $secondary-color;
                }
                &.back {
                background-color: $color-success;
                }
                &.profile {
                background-color: $primary-color;
                }
            }
        }
    }
}