// src/styles/_variables.scss

// Colores de tema
$theme-light: (
  primary: #037e03,
  secondary: #74b9ff,
  background: #f5f6fa,
  text: #2d3436,
  card-bg: #ffffff
);

$theme-dark: (
  primary: #74b9ff,
  secondary: #0984e3,
  background: #2d3436,
  text: #dfe6e9,
  card-bg: #2f3640
);

// Tipografía y dimensiones
$font-main: "Inter", sans-serif;
$radius: 8px;
$radius-sm: 4px;
$radius-md: 10px;
$radius-lg: 16px;

$shadow: 0 2px 6px rgba(22, 73, 87, 0.438);
$shadow-sm: 0 1px 3px rgba(22, 73, 87, 0.438);
$shadow-md: 0 4px 10px rgba(22, 73, 87, 0.438);
$shadow-lg: 0 8px 20px rgba(22, 73, 87, 0.438);
$shadow-xl: 0 16px 40px rgba(22, 73, 87, 0.438);

$primary-color:  #008080;
$secondary-color: #D2691E;
$white-color: #ffffff;
$danger-color: #ca2a30;
$light-color: #dbf0f0;
$dark-color: #1a1a1a;
$color-secondary: #D2691E;
$color-success: #4f596652;
$color-background: #E0EEEE;
$color-surface: #ca2a30;
$color-border: #ddd;

$color-text: #333;
$color-text-secondary: #666;


$background-light: #fff;
$background-medium: #E0EEEE;
$background-dark: #333;
$background-modal:rgba(0,0,0,0.45);





