@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.admin-page {
  padding: 1rem;
  background: $light-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  // Header
  header {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;

    h1 {
      color: $primary-color;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .header-actions {
      width: 90%;
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      align-items: center;

      .btn-back,
      .btn-new-booking {
        @include button-base($primary-color, $white-color);
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
        border-radius: $radius-sm;
      }

      .btn-back {
        background: $secondary-color;
      }
    }
  }

  // Formulario nueva reserva
  .new-booking-form {
    background: $white-color;
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    h2 {
      font-size: 1.1rem;
      color: $primary-color;
      font-weight: 600;
    }

    input,
    select {
      width: 100%;
      padding: 0.5rem 0.7rem;
      border: 1px solid $color-border;
      border-radius: $radius-sm;
      font-size: 0.9rem;
      @include transition(0.2s);

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    .btn-save {
      @include button-base($primary-color, $white-color);
      width: fit-content;
    }

    .btn-cancel {
      @include button-base($secondary-color, $white-color);
      width: fit-content;
    }
  }

  // Lista de reservas
  .admin-bookings {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .admin-booking {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $white-color;
      border-radius: $radius-sm;
      padding: 0.8rem 1rem;
      box-shadow: $shadow-sm;
      color: $color-text-secondary;
      flex-wrap: wrap;
      gap: 0.5rem;
      @include transition(0.2s);

      &:hover {
        transform: translateY(-2px);
        box-shadow: $shadow-md;
      }

      .booking-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.4rem;

        span {
          width: 100px;
          font-size: 0.9rem;
          color: $color-text;
        }
      }

      .actions {
        display: flex;
        gap: 0.5rem;

        button {
          @include button-base($primary-color, $white-color);
          border-radius: $radius-sm;
          font-size: 0.8rem;
          padding: 0.4rem 0.8rem;

          &.delete {
            @include button-base($danger-color, $white-color);
            border-radius: $radius-sm;
          }
        }
      }

      input,
      select {
        padding: 0.3rem 0.5rem;
        border-radius: $radius-sm;
        border: 1px solid $color-border;
        font-size: 0.9rem;
      }

      .btn-save {
        @include button-base($primary-color, $white-color);
        border-radius: $radius-sm;
      }
      .btn-cancel {
        @include button-base($secondary-color, $white-color);
        border-radius: $radius-sm;
      }
    }
  }

  p {
    text-align: center;
    color: $color-text-secondary;
  }

  // Responsive
  @include respond(tablet) {
    padding: 1.5rem;

    header h1 {
      font-size: 1.5rem;
    }

    .admin-booking {
      padding: 1rem 1.2rem;

      .booking-info span {
        width: 120px;
        font-size: 1rem;
      }
    }
  }

  @include respond(desktop) {
    max-width: 900px;
    margin: 0 auto;
    .header {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;

      .header-actions {
        width: 40%;
      }
    }


  }
}
