// src/styles/abstracts/AdminPage.scss

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.admin-page {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 2rem;



  .admin-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
  }

  .admin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-card-bg);
    border-radius: $radius;
    overflow: hidden;
    box-shadow: $shadow;

    th, td {
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid var(--color-secondary);
    }

    th {
      background-color: var(--primary-color);
      color: var(--color-card-bg);
      font-weight: 600;
    }

    tr:hover {
      background-color: var(--color-secondary);
      color: var(--color-card-bg);
    }
  }

  .no-bookings,
  .admin-loading {
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-text);
  }
}
