@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.admin-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  background: $light-color;

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;

  // En pantallas grandes: logo y usuario en fila
    @include respond(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }


    .header-actions {
      width: 90%;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      align-items: center;

      .btn-back,
      .btn-new-booking {
        @include button-base($primary-color, $white-color);
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
        border-radius: $radius-sm;
      }

      .btn-back {
        background: $secondary-color;
      }
    }
  }
  .admin-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem;
    
    @include respond(tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 1.5rem;
      }
  }

  @include respond(tablet) {
    padding: 1.5rem;

    // header h1 {
    //   font-size: 2rem;
    // }
  }

  @include respond(desktop) {
    max-width: 90%;
    margin: 0 auto;

    header {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .header-actions {
        width: 40%;
      }
    }
  }
}
