@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;    
@use "../abstracts/functions" as *;

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $background-medium;

  .auth-box {
    background:$background-light;
    padding: 2rem;
    border-radius: $radius;
    box-shadow: $shadow-xl;
    width: 100%;
    max-width: 400px;
    text-align: center;

  .logo-svg {
    margin: 0 auto 20px auto;
    display: inline-block;
    color: $primary-color; /* controla el stroke del SVG */
    width: 50px;
    height: 50px;

  }

    h2 {
      color: $dark-color;
      margin-bottom: .75rem;
      font-weight: 700;
    }
    p {
      margin-bottom: 1rem;
      color: $color-text-secondary;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 0.75rem;
        border-radius: $radius-sm;
        border: 1px solid #ccc;
        font-size: 1rem;
        background-color: $light-color;
      }
      label {
        text-align: left;
        color: $color-text;
      }

      button {
        margin-top: 1rem;
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 0.75rem;
        border-radius: $radius;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        @include transition(0.2s);

        &:hover {
          background-color: rgba($primary-color, 10%);
        }
      }
    }

    .register-text {
      margin-top: 1rem;
      font-size: 1.1rem;

      span {
        color: $secondary-color;
        cursor: pointer;
        font-weight: bold;
        margin-left: 5px;
        @include transition(0.2s);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

