// src/styles/BookingForm.scss
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.booking-form {
  padding: 2rem;
  min-height: 100vh;
  font-family: $font-main;
  background-color: var(--color-background);
  color: var(--color-text);

  h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
  }

  label {
    font-weight: 500;
  }

  input, select {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: $radius;
    background-color: var(--color-card-bg);
    color: var(--color-text);
  }

  button {
    background-color: var(--primary-color);
    color: var(--color-card-bg);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: $radius;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  p {
    margin-top: 1rem;
    text-align: center;
  }
}
