@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.home-page {
  padding: 1.2rem;
  background-color: $light-color;
  color: $color-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .calendar-header{
    margin-bottom: 1.5rem;
    text-align:center;
    color: $primary-color;
    align-items: center;
    .calendar-info{
      color: $color-text;
      margin-top: 0.5rem;
    }
  }
  .calendar-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    gap: 2rem;

  }
  @include respond(tablet) {
    .calendar-container{
      flex-direction: row;
    }
  }
  .calendar-section {
    width: 100%;
    max-width: 700px;
    background: #fff;
    border-radius: $radius-sm;
    padding: 2ch 1rem 2rem 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .no-bookings {
    text-align: center;
    color: $color-text-secondary;
    font-size: 0.95rem;
    margin-bottom: 2rem;
  }

  .bookings-section {
    width: 100%;
    min-height: 53vh;
    background: $background-light;
    border-radius: $radius-sm;
    padding: 1rem;
    margin-bottom: 2rem;
  } 

}
