// src/styles/_mixins.scss

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card {
  background: #fff;
  border-radius: $radius;
  box-shadow: $shadow;
  padding: 1rem;
}

