// src/styles/main.scss
@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./abstracts/functions";
@use "./components/buttons";


// Aplicar el tema claro por defecto
:root {
  @include theme-colors($theme-light);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

